#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: initial;
  min-width: 320px;
  min-height: 100vh;
}
